body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    background-color:white;
}
.box{
    display:flex;
    flex-wrap: wrap;
    gap:3px;
    align-items:center;
    justify-content:center;
    width:456px;
    height:456px;
     background-color:black;
}

.cell{
   
    height:150px;
    width:150px; 
}
.cell button{
    outline: none;
    box-shadow: none;
    border: none;
    background-color: inherit;
    cursor:pointer;
    user-select: none;
    height:150px;
    width:150px;
    background-color:white;
  
     
}

