*{
    margin:0;
    padding :0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
 height:100%;
 width:100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(102, 233, 220);
}

.card {
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    height: 400px;
    width: 350px;
    background-color: aliceblue;
    padding:20px;
    align-items: center;
    
   
}
.card img{
    height:40%;
    width:100%;
    border-radius:10px;
    object-position: center;
    

}

.card h1{
    font-size:25px;
    margin:10px;
    text-align: center;
}
.card h2{
    font: size 20px;
    margin:20px;
    color:green;
    text-align: center;
}
#bt-container button{
    margin:20px ;
    height:30px;
    width:120px;
}